<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome to Panucci's Pizza</title>
		<link rel="stylesheet" href="/styles.css">
		<style>
			.error {
			  color: red;
			}
		  </style>
	</head>
	<body>

<div class="title">
	<div><img src="/images/logo.jpg" class="thumbnail" width="350" height="250"></div>
	<h2>Welcome to Panucci's Pizza</h2>
</div>
<div>
<h3>Select a pizza:</h3>
<table>
	<tr>
	<td>
	<form action="#" data-th-action="@{/pizza}" data-th-object="${order}" method="post">
		<div>
		<img src="/images/Bella.png" class="pizza">
	</div>
	<div>
		<input type="radio" data-th-field="${order.pizza}" value="bella" required> Bella
	</div>
	</td>
	<td>
	<div>
		<img src="/images/Margherita.png" class="pizza">
	</div>
	<div>
		<input type="radio" data-th-field="${order.pizza}" value="margherita"> Margherita
	</div>
	</td>
	<td>
	<div>
		<img src="/images/Marinara.png" class="pizza">
	</div>
	<div>
		<input type="radio" data-th-field="${order.pizza}" value="marinara"> Marinara
	</div>
	</td>
	<td>
	<div>
		<img src="/images/SpianataCalabrese.png" class="pizza">
	</div>
	<div>
		<input type="radio" data-th-field="${order.pizza}" value="spianatacalabrese"> Spianata Calabrese
	</div>
	</td>
	<td>
	<div>
		<img src="/images/TrioFormaggio.png" class="pizza">
	</div>
	<div>
		<input type="radio" data-th-field="${order.pizza}" value="trioformaggio"> Trio Formaggio<br>
		
	</div>
		
	</td>
	</tr>
	<tr>
	<td>Size:</td>
	<td>
	<select data-th-field="${order.size}">
		<option value="sm">Small</option>
		<option value="md">Medium</option>
		<option value="lg">Large</option>
	</select>
	<span data-th-if="${#fields.hasErrors('order.size')}" data-th-errors="${order.size}"></span>
	</td>
	</tr>
<tr>
	<td>Quantity:</td>
	<td>
	<input type="number" min="1" max="10" name="quantity" required>
	<!-- added max="10" -->
	</td>
</tr>
<tr>
	<td></td>
	<td>	
		<button type="submit" value="submit">Next</button>
	</td>
	</tr>
</table>
</div>
</form>
		
	</body>
</html>
